@font-face {
  font-family: Bahnschrift;
  src: url(font.woff);
}
.defaulttext {
  font-family: Bahnschrift;
}
.titletext {
  font-family: Bahnschrift;
  font-size: 20px;
  background-color: black;
  color: white;
  padding: 10px;
  text-decoration: none;
  margin: auto;
}
a.link {
  font-family: Bahnschrift;
  font-size: 16px;
  background-color: white;
  color: black;
  padding: 8px;
  text-decoration: none;
  margin: auto;
}
a.link:hover {
  font-family: Bahnschrift;
  font-size: 16px;
  background-color: red;
  color: white;
  padding: 8px;
  text-decoration: none;
  margin: auto;
}
